<div class="widget">
    <div class="numberrow">
        <h2 (click)="updateBalance()" class="numberself devview">Bal {{ balance }}</h2>
    </div>
    <div class="buttonrow">
        <div class="buttonbox devview clickers" (click)="spendMoney()">-</div>
        <div class="buttonbox devview clickers" (click)="saveMoney()">+</div>
    </div>
</div>
<div class="devblock">
    <div><h1>Temporary stuff</h1></div>
    <div>
        <button class="datebutton" (click)="subtractDay()">decrease date</button>
        <button class="datebutton" (click)="addDay()">increase date</button>
    </div>
    <div> {{ currentDate.getValue() | date }}</div>
</div>